# tools - vscode-commit-ai
AI_SUGGESTION_COMMIT_LANGUAGE=pt-BR # Idioma da mensagem
AI_SUGGESTION_COMMIT_BASE_URL=https://api.deepseek.com
AI_SUGGESTION_COMMIT_API_KEY=
AI_SUGGESTION_COMMIT_DEFAULT_MODEL=deepseek-v4-flash
